{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 11"]
      }
    }],
    ["stage-3"]
  ],

  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
